@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

#app {
	height: 100%;
}
